@use '../abstracts' as *;

.main {
    width: 35%;
    margin: 0 auto;
    position: relative;
    bottom: 10em;
}

.main h1 {
    color: #fff;
    margin: 20px 0;
    letter-spacing: 10px;
    font-size: 55px;
}

.task-list{
    
    margin: 20px 0;
    background-color: map-get($map: $dark, $key: 'veryDarkDesatBlue');
    width: 500px;
    border-radius: 10px;
}

.task-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.task-text {
    color: map-get($map: $dark, $key:'darkGrayishBlue' );
}

